Django==3.2.14
Pillow==8.3.2 
django-environ

dj-database-url
dj-static
python-decouple
gunicorn
psycopg2-binary

djangorestframework~=3.11.1
django-cors-headers~=3.4.0
django-filter 

channels

beautifulsoup4
selenium
chromedriver
chromedriver-binary==121.0.6167.16.0


pandas
requests
python-dateutil